body{
    background-color: #060119ed;
    
}

.container{
    /* center all elements in container */
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: absolute;
 
}


.table_div{
    background-image: url(static/pjot.png);
    background-size: cover;
    opacity: 0.8;  
    width: 500px;
    height: 500px;
    border-radius: 10px;
    border: 1px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    width: 75px;
    height: 75px;
    margin: 2px;
    font-size: large;
    background-color: #f2f2f295;
    border-radius: 10px;
    box-shadow: inset 0 0 10px #cecbcb;
}

.btn:hover{
    background-color: #ffffff55;
    color: #000000;
}

.side_manu{
    position: relative;
    border: #ffffff;
    width: 500px;
    height: 100px;
    margin: 5px;
    bottom: 0px;
    left: 0px;
}

.player1{
    position: relative;
    border: #ffffff solid 1px;
    width: 200px;
    height: 500px;
    margin: 5px;
    bottom: 0px;
    left: 0px;
    font-size: medium;
    color : #ffffff;
    text-align: center;
}

.player2{
    position: relative;
    border: #ffffff solid 1px;
    width: 200px;
    height: 500px;
    margin: 5px;
    bottom: 0px;
    left: 0px;
    font-size: medium;
    color : #ffffff;
    text-align: center;
}

#player1Score{
    position: relative;
    border: #ffffff solid 1px;
    width: 95%;
    height: 40px;
}

#player2Score{
    position: relative;
    border: #ffffff solid 1px;
    width: 95%;
    height: 40px;
}